html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
}

.banner {
  background-color: #2b3851;
  position: relative;
  padding-top: 6rem;
  height: 15rem;
}

.robot {
  width: 320px;
}

.robot-body {
  width: 320px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.robot-brain {
  width: 46px;
  position: absolute;
  bottom: 108px;
  left: 50%;
  transform: translateX(-50%);
  transition: bottom 1s;
}

.robot-head-right,
.robot-head-left {
  width: 125px;
}

.robot-head-right {
  position: absolute;
  bottom: 53px;
  left: 50%;
  transform: translateX(0%);
  transition: left 1s;
}

.robot-head-left {
  position: absolute;
  bottom: 53px;
  left: 50%;
  transform: translateX(-100%);
  transition: left 1s;
}

.robot:hover .robot-head-left {
  left: 47%;
  transform: translateX(-100%);
  bottom: 57px;
}

.robot:hover .robot-head-right {
  left: 53%;
  transform: translateX(0%);
  bottom: 57px;
}

.robot:hover .robot-brain {
  bottom: 128px;
}
